.animate {
	opacity: 0;
	transition: opacity 1s;
}

.animateAfterScroll {
	opacity: 1;
}

.homeWrapper {
	width: 100vw;
	min-height: 100vh;
}

.aboutDividerTop {
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.aboutDividerTop svg {
	position: relative;
	display: block;
	width: calc(122% + 1.3px);
	height: 83px;
	transform: rotateY(180deg);
}

.aboutDividerTop path {
	fill: white;
}

.aboutDividerBottom {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.aboutDividerBottom svg {
	position: relative;
	display: block;
	width: calc(122% + 1.3px);
	height: 70px;
}

.aboutDividerBottom path {
	fill: #eeeeee;
}

.eventDividerBottom {
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.eventDividerBottom svg {
	position: relative;
	display: block;
	width: calc(137% + 1.3px);
	height: 157px;
}

.eventDividerBottom path {
	fill: #ffffff;
}

.upcomingContainer {
	padding: 50px;
	text-align: center;
}

.aboutContainer {
	position: relative;
	display: inline-block;
	background: var(--secondary);
	color: white;
	text-align: center;
	width: 100%;
}

.aboutLeft {
	width: 100%;
}

.eventContainer {
	position: relative;
	padding: 50px 50px 100px 50px;
	display: flex;
	background-color: #eeeeee;
	align-items: center;
}

.eventContainer > h2, .eventContainer > p {
	text-align: center;
	color: var(--primary);
}

.eventContainer > a {
	text-align: center;
}

.eventLeft,
.eventRight {
	padding: 0;
}

.eventLeft {
	color: var(--primary)
}

.eventRight {
    display: grid;
	color: black;
}

@media (max-width: 576px) {
    .eventRight {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .eventRight {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 992px) {
    .eventRight {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 762px) {

	.eventContainer,
	.upcomingContainer,
	.aboutContainer {
		flex-direction: column;
	}

	.eventContainer {
		padding: 100px 15px 150px 15px;
	}

	.upcomingContainer,
	.aboutContainer,
	.contactContainer {
		padding: 100px 15px;
	}
}

@media (max-width: 560px) {
	.contactPerks {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 560px) and (max-width: 1024px) {
	.contactPerks {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1024px) {
	.contactPerks {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 762px) {

	.upcomingContainer,
	.aboutContainer,
	.contactContainer {
		width: 100%;
		flex-direction: row;
		box-sizing: border-box;
	}

	.eventContainer {
		width: 100%;
		box-sizing: border-box;
		padding: 100px 20% 150px 20%;
		flex-direction: column;
		justify-content: center;
	}

	.upcomingContainer,
	.aboutContainer,
	.contactContainer {
		padding: 100px 20%;
	}


	.eventLeft {
		width: 40%;
	}

	.eventRight {
		flex: 1;
	}
}

.contactContainer {
	background-color: white;
	/* display: inline-block; */
	text-align: center;
}

.contactTitle,
.upcomingTitle {
	color: var(--primary);
}

.contactPerks {
	text-align: left;
	display: grid;
}

.contactEmail {
	color: black;
}

.perk {
	margin: 5px;
	padding: 15px;
	border-radius: 15px;
	border: 1px rgb(196, 196, 196) solid;
}

.perk h4 {
	margin: 5px 0;
	color: var(--accent);
}

.perk p {
	margin: 0;
}