.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;   
    box-sizing: border-box;
    position: relative;;
}

@media (max-width: 762px) {
    .wrapper {
        padding: 25px 10px;
    }
}

@media (min-width: 762px) {
    .wrapper {
        padding: 5vh 12vw 10vh 12vw;
    }
}